/*Geral*/
input{
    padding: 16px 32px;
    text-align: center;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;}
.item4 { grid-area: right; }
.item5 { grid-area: footer;
         color: white;}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'menu main right' 
        'footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;

}
/*FimGeral*/


/*Login*/

.login{
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    background-color: white; 
}

.entrar{
    background-color: yellow;
    border:1px green solid;
}
.buttonL {
    padding: 16px 32px;
    text-align: center;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.button1 {
    background-color: yellow; 
    color: black; 
    border: 2px solid greenyellow;
}

.button1:hover {
    background-color: greenyellow;
    color: black;
    border: 2px solid greenyellow;
}
/*FimLogin*/

/*TelaInicial*/
.faixa{
    background-color: lightgreen;
    color: white;
    padding: 15px 32px;
}
.buttonTI{
    background-color: white;
    padding: 10px 32px;
    border-radius: 5px;


}
a{
    text-decoration: none;
    color: black;
}
.iconTI{
    margin-right: 5px;
    /*vertical-align: middle;*/
}
/*FimTelaInicial*/

/*Clintes*/
.faixaCli{
    background-color: white;
    color: black;
    padding: 15px 32px;   
}

.it1 { grid-area: header; }
.it2 { grid-area: menu; }
.it3 { grid-area: main;}
.it22 { grid-area: menu22; }
.it33 { grid-area: main33;}
.it222 { grid-area: menu222; }
.it333 { grid-area: main333;}
.it5 { grid-area: footer;
       color: white;}

.grid-container2 {
    display: grid;
    grid-template-areas:
        'header header'
        'menu main ' 
        'menu22 main33 ' 
        'menu222 main333 ' 
        'footer footer ';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container2 > div {
    text-align: center;
}

.itdiv{
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    background-color: white; 
}

/*Clintes*/